@import '~src/assets/styles/variables.scss';
@import '~src/assets/styles/mixin.scss';

.header {
  height: 100px;
  line-height: 100px;
  background-color: $color_header_background;

  & .title {
    font-family: $font_family_header;
    font-size: 35px;
    font-weight: bold;
  }

  & .img-flag {
    max-height: 38px;
  }

  & .img-logo {
    max-height: 80px;
    max-width: 80px;
    background-color: $color_background_logo;
    border-radius: 50px;
  }
}
