@import '~src/assets/styles/variables.scss';
@import '~src/assets/styles/mixin.scss';
@import '~bootstrap/scss/bootstrap';

.results-container {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80vh;

  .result-text {
    line-height: 20vh;
    font-size: 15vh;
    font-family: auto;
    font-weight: 800;
    text-transform: uppercase;
  }

  &.win {
    background: $win_background_color_plain;
    background: linear-gradient(
                    $win_background_gradient_angle,
                    $win_background_gradient_color_stop_1,
                    $win_background_gradient_color_stop_2,
                    $win_background_gradient_color_stop_3
    );
    //background: radial-gradient(circle, rgba(17,136,0,1) 0%, rgba(110,198,94,1) 35%, rgba(181,251,169,1) 100%);

    .result-text {
      text-shadow: $win_result_text_shadow;
      color: $win_result_text_color;
    }
  }

  &.loss {
    background: $loss_background_color_plain;
    background: linear-gradient(
                    $loss_background_gradient_angle,
                    $loss_background_gradient_color_stop_1,
                    $loss_background_gradient_color_stop_2,
                    $loss_background_gradient_color_stop_3
    );

    .result-text {
      text-shadow: $loss_result_text_shadow;
      color: $loss_result_text_color;
    }
  }

  .btn-restart-group {
    @extend .mt-3;

    .btn + .btn {
      @extend .ml-5;
    }
  }

  .results-list {
    @extend .mt-3;

    .table-container {
      max-height: 45vh;
      overflow: auto;
      display: inline-block;

      .results-table {
        width: 70vw;
        background-color: white;
        border: 2px solid;
        tr {
          border-top: 1px solid;
          &.lost {
            background-color: $background_color_result_table_lost_row;
          }
          &.won {
            background-color: $background_color_result_table_won_row;
          }
        }
      }
    }
  }
}
