@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
  //@extend %font-fira-normal;
  background-color: $color_background_body;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
