// Colors

$font_family_header: "Comic Sans MS";

$color_footer_background: #B8BFC6;
$color_header_background: #00bfa5;
$color_background_logo: white;
$color_background_body: #E6F7FF;
$color_background_btn_custom_play: #04b0ff;
$color_background_battleship_tile_header: #ccc;
$color_background_battleship_tile: #007BFF40;
$color_background_sunk_ship: #ff000038;
$color_background_battleship_tile_used: #4a3535;
$color_background_battleship_tile_selected: #41eedc;

$color_sunk_ship: #bd2810;

$content_sunk_ship: 'X';

$height_tile: 40px;
$width_tile: 40px;

$explanation_text_separator: '\00a0-\00a0';

// ---
$dark_grey: #646f79;
$grey_disabled: #868e96;
$alert_red: #ff3455;
$card_overdue: #FF4F67;
$card_new : #333740;
$alert_green: #00bfa5;
$light_blue: #04b0ff;
$lighter_blue: #E6F7FF;
$subitem_blue: #DEFDFE;
$blue_hover: #6ecffc;
$back_blue: #007fd3;
$hover: #f8f9fa;
$light_grey: #e9ecef;
$light_grey2: #f7f7f7;
$dark_grey2: #4A4A4A;
$dark_grey3: #151b26;
$dark_grey4 : #323232;
$subitem_grey : #7a7a7a;
$border_grey : #f2f2f2;
