// Colors

$font_family_header: "Comic Sans MS";

$color_footer_background: #B8BFC6;
$color_header_background: #00bfa5;
$color_background_logo: white;
$color_background_body: #E6F7FF;
$color_background_btn_custom_play: #04b0ff;
$color_background_battleship_tile_header: #ccc;
$color_background_battleship_tile: #007BFF40;
$color_background_sunk_ship: #ff000038;
$color_background_battleship_tile_used: #4a3535;
$color_background_battleship_tile_selected: #41eedc;
$background_color_result_table_lost_row: #7B000340;
$background_color_result_table_won_row: #B5FBA960;

$color_border_tile: #dbdbdb;
$color_validation_message: #dc3545;
$color_sunk_ship: #bd2810;

$win_background_color_plain: rgb(17,136,0);
$win_background_gradient_angle: 35deg;
$win_background_gradient_color_stop_1: rgba(17,136,0,0.8) 0%;
$win_background_gradient_color_stop_2: rgba(110,198,94,0.7) 35%;
$win_background_gradient_color_stop_3: rgba(181,251,169,0.9) 100%;

$loss_background_color_plain: rgb(46,0,2);
$loss_background_gradient_angle: 35deg;
$loss_background_gradient_color_stop_1: rgba(46,0,2,0.8) 0%;
$loss_background_gradient_color_stop_2: rgba(82,0,2,0.7) 35%;
$loss_background_gradient_color_stop_3: rgba(123,0,3,0.7) 100%;

$win_result_text_color: #FFFFBA;
$win_result_text_shadow: -2px -2px yellow, 2px -2px yellow, -2px 2px yellow, 2px 2px yellow;

$loss_result_text_color: #FFFFBA;
$loss_result_text_shadow: -2px -2px yellow, 2px -2px yellow, -2px 2px yellow, 2px 2px yellow;

$content_sunk_ship: 'X';

$height_tile: 40px;
$width_tile: 40px;

$explanation_text_separator: '\00a0-\00a0';
